{% include 'head' %}
    <header>
      {% include 'nav' %}
    </header>
    <main>
      {% include 'intro' %}
      {% include 'about' %}
      {% include 'projects' %}
    </main>
    <footer>
      {% include 'contact' %}
    </footer>
{% include 'foot' %}


{% comment %} 
to restart the terminal:
  npx @11ty/eleventy --serve

genereerd dynamische bestanden:
  npx @11ty/eleventy

assets: https://www.11ty.dev/docs/assets/  
  eleventy.config.js
{% endcomment %}