<section>
  <p class="about" id="about">
    About me   I started programming for the first time back in 2023, having no idea what programming is.
    <br> Though, as someone who loves art, i see this as a different way to translate my creativity into code.
    <br> So i started from scratch with no knowledge.
    <br> And now, I aspire to become a Creative Developer.
</p>
</section>