<footer class="contact" id="contact">
  <h4>Check my work too on:</h4>
  <p>lorem ipsum dolor sit amet</p>
  <p>lorem ipsum dolor sit amet</p>
  <p>lorem ipsum dolor sit amet</p>
  <button>Back to the beginning</button>
</footer>
