<nav>
	<a href="#about">About me</a>
	<a href="#projects">My projects</a>
	<a href="#repositories">Repositories</a>
	<a href="#contact">Contact</a>
	<button type="button" aria-label="change to light or dark theme">
	icon
	</button>
</nav>